@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;700&display=swap');

/* Custom Properties */

:root {
    --leading: 2em
}

body {
    font-family: 'Source Code Pro', sans-serif;
    margin: 0;
}

/* Start of top (Same for every page)*/
.bg {
    background: black;
    background-position: 12% 83%;
    color: white;
    text-align: center;
    padding-bottom: 2em;
}

.very-top {
    background: black;
    padding: 1em 0;
}

.bg a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.bg img {
    max-width: 100%;
}

.bg p {
    padding: 0 1em 0 1em;
}

.bg nav li {
    display: inline;
    padding: 0 3em 0 3em;
}
/* End of top */

/* Start of bottom (Same for every page) */
.bottom {
    padding: 0 1em 0 1em;
    background-color: black;
    text-align: center;
    margin: 0;
}

.bottom section {
    color: white;
    padding: 0.1em;
}

.bottom a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
}

.bottom h5 {
    color: white;
    padding: 0.3em;
}
/* End of bottom */