<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Addison Kline | Baseball Analytica</title>
    <link rel="stylesheet" href="../css/writer.css">
    <link rel="icon" href="../images/favicon.ico">
    <link rel="icon" href="../images/icon.png">
    <link rel="canonical" href="https://baseball-analytica.com/writers/kline">
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <div class="bg" id="background">
        <section class="top">
            <div class="very-top">
                <header>
                    <a href="https://baseball-analytica.com">baseball-analytica.com</a>
                </header>
            </div>

            <div class="bg-site-info">
                <div class="image">
                    <img src="../images/background.png" alt="Background with Logo">
                </div> 
    
                <h1>Welcome to Baseball Analytica</h1>
    
                <p>The premier sabermetrics blog discussing the latest statistics and showcasing the most interesting tidbits since 2021</p>
                
                <nav>
                    <ul>
                        <li v-for="section in sections">
                            <a :href="section.url">{{ section.title }}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>

    <div class="bio" id="bio">
        <h1>Addison Kline</h1>
        <h4><a href="mailto:?to=akline@baseball-analytica.com&subject=&body=">akline@baseball-analytica.com</a></h4>
        <h5>2021 - present</h5>
        <hr>
        <p>Addison Kline is the founder Baseball Analytica as well as the site's lead developer and writer. Alongside writing posts, Kline has created and managed multiple site tools, including Baseball Analytica's <a href="https://baseball-analytica.com/rankings">ranking system</a> and <a href="https://baseball-analytica.com/foxy">FOXY</a> projection model. His primary baseball interests include team performance, analyzing existing metrics, and creating new ones. Kline is an undergraduate at Washington University in St. Louis studying mathematics and computer science.</p>
        <hr>
        <h3>Most recent post from Addison Kline</h3>
        <div class="posts-list">
            <ul>
                <li v-for="post in posts">
                    <h3 v-show="isMostRecentPostByAuthor(post, 'A. Kline')" :id="post.id" @click="goToUrl(post.url)" @mousemove="highlightTitle(post.id)" @mouseleave="unHighlightTitle(post.id)">{{ post.title }}</h3>
                    <h5 v-show="isMostRecentPostByAuthor(post, 'A. Kline')">by {{ post.author }}</h5>
                    <h5 v-show="isMostRecentPostByAuthor(post, 'A. Kline')">Posted on {{ post.date }}</h5>
                    <p v-show="isMostRecentPostByAuthor(post, 'A. Kline')">{{ post.description }}</p>
                    <a v-show="isMostRecentPostByAuthor(post, 'A. Kline')" :href="post.url">Read full post >></a>
                </li>
            </ul>
        </div>
        <hr>
    </div>

    <div class="bottom">
        <section class="share">
            <h3>Share this page</h3>
            <div class="share-this-page">
                <ul>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://baseball-analytica.com/writers/kline" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank">Twitter</a>
                    <li><a href="http://www.reddit.com/submit?url=http://baseball-analytica.com/writers/kline&title=Addison%20Kline%3A%20Baseball%20Analytica" target="_blank">Reddit</a></li>
                    <li><a href="mailto:?to=&subject=Addison%20Kline%3A%20Baseball%20Analytica&body=https%3A%2F%2Fwww.baseball.analytica.com/writers/kline" target="_blank">Email</a></li>
                </ul>
            </div>
            <div class="social-media-links">
                <a href="https://www.twitter.com/bbanalytica" target="_blank">Baseball Analytica on Twitter >></a>
            </div>
        </section>
    </div>

    <script src="../background.js"></script>
    <script src="../main.js"></script>

</body>
</html>