<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="FHih29EQ-OP19dGHkORkOsjoIWTjbi_nB--ywfzqTd8" />
    <title>Baseball Analytica</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="images/favicon.ico">
    <link rel="icon" href="images/icon.png">
    <link rel="canonical" href="https://baseball-analytica.com">
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <div class="bg" id="background">
        <section class="top">
            <div class="very-top">
                <header>
                    <a href="https://baseball-analytica.com">baseball-analytica.com</a>
                </header>
            </div>

            <div class="bg-site-info">
                <div class="image" id="bg-img">
                    <img src="images/background.png" alt="Background with Logo" @mousemove="mouseoverBackgroundImage(bg-img)">
                </div> 

                <h1>Welcome to Baseball Analytica</h1>

                <p>The premier sabermetrics blog discussing the latest statistics and showcasing the most interesting tidbits since 2021</p>
            
                <nav>
                    <!--<ul>
                        <li><a href="#">Posts</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>-->
                    <ul>
                        <li v-for="section in sections">
                            <a :href="section.url">{{ section.title }}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>

    <div class="posts" id="posts-section">
        <div class="latest-posts-heading">
            <h1>Latest Posts</h1>
        </div>

        <hr>

        <div class="posts-list">

            <!-- new functionality for displaying posts -->
            <ul>
                <li v-for="post in posts">
                    <h3 :id="post.id" @click="goToUrl(post.url)" @mousemove="highlightTitle(post.id)" @mouseleave="unHighlightTitle(post.id)">{{ post.title }}</h3>
                    <h5>by {{ post.author }}</h5>
                    <h5>Posted on {{ post.date }}</h5>
                    <p>{{ post.description }}</p>
                    <a :href="post.url">Read full post >></a>
                    <hr>
                </li>
            </ul>

            <!-- 
            Old post system—very technologically advanced as you can see
            
            <article id="not-all-runs-equal-2">
                <h3 id="articlefive" @click="goToUrl('/posts/2021-07-30/not-all-runs-equal-2.html')" @mousemove="highlightTitle('articlefive')" @mouseleave="unHighlightTitle('articlefive')">Not All Runs are Created Equal, Part 2</h3>
                <h5>by A. Kline</h5>
                <h5>Posted on 07/30/2021</h5>
                <p>Weighted run differential has the potential to be a useful tool, but how can its potential be reached, and how useful can it get to begin with?</p>
                <a href="posts/2021-07-30/not-all-runs-equal-2.html">Read full post >></a>
            </article>
            <hr>
            <article id="not-all-runs-equal">
                <h3 href="posts/2021-07-16/not-all-runs-equal.html">Not All Runs are Created Equal</h3>
                <h5>by A. Kline</h5>
                <h5>Posted on 07/16/2021</h5>
                <p>Not only do runs determine who wins a baseball game, they have consistently been a cornerstone of sabermetrics. All despite the fact that no two runs are exactly alike.</p>
                <a href="posts/2021-07-16/not-all-runs-equal.html">Read full post >></a>
            </article>
            <hr>
            <article id="good-pitching-bad-hitting">
                <h3 href="posts/2021-06-18/good-pitching-bad-hitting.html">Good Pitching or Bad Hitting?</h3>
                <h5>by A. Kline</h5>
                <h5>Posted on 06/18/2021</h5>
                <p>Pitchers have obviously been having quite a successful year. But is it becuase they are actually better, or are hitters just worse?</p>
                <a href="posts/2021-06-18/good-pitching-bad-hitting.html">Read full post >></a>
            </article>
            <hr>
            <article id="whip-is-overrated">
                <h3 href="posts/2021-05-28/whip-is-overrated.html">WHIP is Overrated</h3>
                <h5>by A. Kline</h5>
                <h5>Posted on 05/28/2021</h5>
                <p>Walks plus hits per innings pitched seems simple enough, so why is it not treated as such?</p>
                <a href="posts/2021-05-28/whip-is-overrated.html">Read full post >></a>
            </article>
            <hr>
            <article id="past-present-future-sabermetrics">
                <h3 href="posts/2021-05-21/past-present-future-sabermetrics.html">The Past, Present, and Future of Sabermetrics</h3>
                <h5>by A. Kline</h5>
                <h5>Posted on 05/21/2021</h5>
                <p>In-depth statistical analysis of baseball was not invented by Bill James, nor did it peak with Moneyball. How has sabermetrics changed (and not yet changed) the sport of baseball?</p>
                <a href="posts/2021-05-21/past-present-future-sabermetrics.html">Read full post >></a>
            </article>
            <hr>
            -->

            <!-- <article id="sample-post">
                <h3 href="posts/samplepost/samplepost.html">Post Title</h3>
                <h5>by Author</h5>
                <h5>Posted on mm/dd/yyyy</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, mollitia non. Id magnam culpa nam velit dolores reiciendis, expedita numquam?</p>
                <a href="posts/samplepost/samplepost.html">Read full post >></a>
            </article> 
            <hr> -->
        </div>
        
    </div>

    <div class="bottom">
        <section class="share">
            <h3>Share this page</h3>
            <div class="share-this-page">
                <ul>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://baseball-analytica.com" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank">Twitter</a>
                    <li><a href="http://www.reddit.com/submit?url=http://baseball-analytica.com&title=Baseball%20Analytica%3A%20Posts" target="_blank">Reddit</a></li>
                    <li><a href="mailto:?to=&subject=Baseball%20Analytica%3A%20Posts&body=https%3A%2F%2Fwww.baseball.analytica.com" target="_blank">Email</a></li>
                </ul>
            </div>
            <div class="social-media-links">
                <a href="https://www.twitter.com/bbanalytica" target="_blank">Baseball Analytica on Twitter >></a>
            </div>
        </section>
    </div>

    <script src="main.js"></script>
    <script src="background.js"></script>

    <script>

        let btn = document.getElementById('cta-btn');
        let overlay = document.getElementById('overlay');

        btn.addEventListener('click', () => {
            overlay.style.display = 'grid';
            overlay.classList.add('animate-overlay')
        })

    </script>
</body>
</html>